@import url('components/recorder/recorder.css');
@import url('components/synth/synth.css');
@import url('components/fx/fx.css');

:root {
    --teal: #00fff2;
    --purple: #52489c;
    --yellow: #fffd82;
    --pink: #de4045;
    --brown: #524632;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000;
    /* font-family: sans-serif; */
    font-family: monospace;
    color: var(--brown);
}
body,
html,
button,
input,
select,
textarea,
div {
    -webkit-touch-callout: none; /* Disable long press pop-up on mobile */
    -webkit-user-select: none; /* Disable text selection */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent; /* Remove mobile tap highlight */
    outline: none; /* Remove focus outline */
    font-size: 16px; /* Ensure no zoom on tap */
    touch-action: manipulation; /* Prevent unwanted behaviors */
}

dialog {
    padding: 0;
}

dialog::backdrop {
    background-color: #000;
}

.font {
    font-size: 16px;
}

.navbar {
    display: none; 
  }

  .start-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #222;
    background-color: #222;
    color: #463c2b;
    font-size: 40px;
    text-transform: uppercase;
    /* height: 140px;
    width: 220px; */
    padding: 5px;
}

.start-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    margin: 2px;
    cursor: pointer;
}

.start-btn__inner {
    background-color: #a93428;
    background-color: var(--teal);
    box-shadow:
        inset 3px 3px 1px #99fffa,
        inset -3px -3px 1px #06968f,
        2px 2px 4px #000;
        padding: 10px;
}

.start-btn__inner:active {
    transform: scale(.95);
    color: var(--brown);
    background-color: #892b21;
    background-color: #09d2c8;
    box-shadow:
        inset 1px 1px 1px 0px rgba(255, 226, 226, 0.258),
        inset 1px 1px 1px 0px transparent,
        1px 1px 1px 0px transparent;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #666;
    background-color: #222;
    background: linear-gradient(to right, #ccc, #ddd, #fff, #ddd, #ccc);
    color: var(--brown);
    font-family: monospace;
    font-size: 12px;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 2px;
    box-sizing: border-box;
    width: fit-content;
}

.btn:active {
    border: 2px solid #666;
    padding: 2px 6px;
    font-size: 11px;
}

#installButton {
    position: absolute;
    left: 50%;
    bottom: 50%;
    z-index: 10;
    display: block;
    background-color: var(--teal);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #installButton:hover {
    background-color: var(--purple);
  }

  .desktop-only {
    display: none;
  }
  