@import url('components/recorder/recorder.css');
@import url('components/synth/synth.css');
@import url('components/fx/fx.css');

:root {
    --teal: #00fff2;
    --purple: #52489c;
    --yellow: #fffd82;
    --pink: #de4045;
    --brown: #524632;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000;
    /* font-family: sans-serif; */
    font-family: monospace;
    color: var(--brown);
}

dialog::backdrop {
    background-color: #000000bc;
    background-color: #000;
}

.font {
    font-size: 10px;
}

@media screen and (min-width: 768px) {
    .font {
        font-size: 12px;
    }
    .navbar {
        display: none; 
      }
    
}

