/*****************************************************
    FX Box
*****************************************************/
.sample-btns__wrapper {
    display: flex;
    gap: 3px;
    border: none;
    padding: 6px;
    border-radius: 9px;
    width: fit-content;
    height: fit-content;
}


.fx-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    padding: 10px;
    border: none;
    width: fit-content;
    height: 100%;
    background-color: transparent;
}

.fx-titles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 3.5vh;
    /* padding: 10px; */
    border: none;
    width: fit-content;
    background-color: transparent;
}

.fx-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    
}

.fx-title {
    font-size: 12px;
    margin-right: 5px;
}

.fx-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    box-sizing: border-box;
}

.fx-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 2px;
}

.fx-level__indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 4vh;
    min-width: 24px;
    min-height: 18px;
    border: #666 1px solid;
    border-radius: 3px;
    box-shadow: inset 0 0 3px #444;
    cursor: pointer;
    background-color: #dadada;
    background-image: linear-gradient(to right, transparent, #ffffff9b, transparent);
}

.fx-level__indicator:hover {
    box-shadow: inset 0 0 2px #000;

}

.fx-level__indicator:active {
    box-shadow: inset 0 0 4px #000;
}

.fxl-light {
    /* border-radius: 50%; */
    border: none;
    width: 100%;
    height: 100%;
}



.fxl-light:hover, .yellow-light:hover, .purple-light:hover, .pink-light:hover, .teal-light:hover {
    box-shadow: inset 0 0 2px #000;
}

.teal-light:active, .pink-light:active, .purple-light:active, .yellow-light:active {
    box-shadow: inset 0 0 4px #000;
}

.color-example {
    width: 100%;
    height: 20px;
    margin: 0 20px;
    background-image: linear-gradient(to right, var(--yellow), var(--purple), var(--pink));
}

.octave-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* padding: 10px; */
    border: none;
    width: fit-content;
    height: 100%;
    background-color: transparent;
    font-size: 12px;
}

.octave-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    min-height: 25px;
    width: 3vw;
    min-width: 25px;
    box-sizing: border-box;
    /* margin: 2px; */
    border: #666 1px solid;
    border-radius: 50% 50% 3px 3px;
    box-shadow: inset 0 0 3px #444;
    cursor: pointer;
    background-color: #dadada;
    background-image: linear-gradient(to right, transparent, #ffffff9b, transparent);
}

.ob-plus {
    border-radius: 50% 50% 3px 3px;
}

.ob-minus {
    border-radius: 3px 3px 50% 50%;
}

.yellow-light {
    background-color: rgba(255, 253, 130, 0.502);
    background-image: linear-gradient(to right, #a9a75180, #fffd8280, #a9a75180);
    box-shadow: inset 0 0 3px #33333300, 0 0 5px var(--yellow);
    
}

.purple-light {
    background-color: #9587fbbb;
    background-image: linear-gradient(to right, #52489cbb, #b7adfebb, #52489cbb);
    box-shadow: inset 0 0 0px #33333300, 0 0 20px var(--purple);
}

.pink-light {
    background-color: #ff777cb4;
    background-image: linear-gradient(to right, #de4045bb, #fea0a3b4, #de4045bb);
    box-shadow: inset 0 0 3px #33333300, 0 0 10px var(--pink);
}

.teal-light {
    background-color: #00fff2b4;
    background-image: linear-gradient(to right, #01b7aebb, #98f7f3b4, #01b7aebb);
    box-shadow: inset 0 0 3px #33333300, 0 0 10px var(--teal);
}