.meeboard {
    position: relative;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 2vw; */
    /* padding-bottom: 1%; */
    box-sizing: border-box;
}



.meeboard_left-border {
    display: none;
    position: absolute;
    left: 0;
    width: 50vw;
    height: 100vh;
    background: repeating-linear-gradient(to right, #493724 1px, #2f210b 2px, #4f340c 3px, #413512 4px, #44311a 5px, #473522 6px, #3b2b10 7px, #4a310b 8px, #393014 9px, #4f391f 10px);
    clip-path: polygon(0 0, 50% 50%, 0 100%);
    z-index: 0;
}

.meeboard_top-border {
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 50vh;
    background: repeating-linear-gradient(to bottom, #554029 1px, #2f210b 2px, #624110 3px, #4a3d15 4px, #5e4424 5px);
    clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%, 0 0);
    z-index: 0;
}

.meeboard_right-border {
    display: none;
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100vh;
    background: repeating-linear-gradient(to right, #493724 1px, #2f210b 2px, #4f340c 3px, #413512 4px, #44311a 5px, #473522 6px, #3b2b10 7px, #4a310b 8px, #393014 9px, #4f391f 10px);
    clip-path: polygon(100% 0, 100% 100%, 50% 50%);
    z-index: 0;
}

.meeboard_bottom-border {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50vh;
    background: repeating-linear-gradient(to bottom, #3e2f1e 1px, #2f210b 2px, #3c2809 3px, #31280d 4px, #3b2a16 5px, #41301f 6px, #32250d 7px, #3c2709 8px, #393014 9px, #3d2c18 10px);
    /* clip-path: polygon(0 100%, 50% 0, 100% 100%); */
    clip-path: polygon(0 100%, 100% 100%, 75% 0, 25% 0, 0 100%);

    z-index: 0;
}

@media screen and (min-width: 1000px) {
    .meeboard {
        padding: 2vw;
    }
    .meeboard_left-border, .meeboard_right-border, .meeboard_top-border, .meeboard_bottom-border {
        display: block;
    }
    
}

.meeboard_face {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7.5px;
    padding: 5px;
    background: linear-gradient(to right, #01746e, #00fff2, #01746e);
    box-sizing: border-box;
    gap: 4vh;
    gap: 5px;
    z-index: 1;
}

.meeboard_control-panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30vh;
    height: 28svh;
    border: 1px solid #000;
    border-radius: 5px;
    background: linear-gradient(to right, #aaa, #ddd, #fff, #ddd, #aaa);
    box-sizing: border-box;
    /* gap: 1vw; */
    z-index: 1;
}

.control-panel__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1vw;
    height: 90%;
    min-height: 95px;
    box-sizing: border-box;
    z-index: 1;
}

.control-panel__slider-name {
    font-size: 12px;
}

.meeboard_slider-and-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    z-index: 1;
}

.meeboard_keys {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid #000; */
    border-radius: 5px;
    /* background: linear-gradient(to right, #aaa, #ddd, #fff, #ddd, #aaa); */
    background-color: #000;
    box-sizing: border-box;
    z-index: 1;
    padding: 2px;

}

.white-key {
    width: 12.5%;
    height: 65vh;
    height: 68svh;
    border: 1px solid #000;
    border-radius: 5px;
    background: linear-gradient(to right, #ddd, #fff, #ddd);
    box-sizing: border-box;
    z-index: 1;
}

.white-key:active {
    background: linear-gradient(to right, #d18e90, #eee, #d18e90);
    transform: scale(0.98);
}

.white-key__active {
    background: linear-gradient(to right, #d18e90, #eee, #d18e90);
    transform: scale(0.98);
}

.black-key {
    position: absolute;
    top: 2px;
    width: 7.5%;
    height: 37vh;
    height: 39svh;
    border: none;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(to right, #14110c, #42392b, #14110c);
    box-sizing: border-box;
    z-index: 2;
}

.black-key:active {
    background: linear-gradient(to right,  #14110c, #52489c, #14110c);
    transform: scale(0.98);
}

.black-key__active {
    background: linear-gradient(to right, #14110c, #52489c, #14110c);
    transform: scale(0.98);
}

.c-sharp {
    left: 9%;
}

.d-sharp {
    left: 22%;
}

.g-sharp {
    left: 59%;
}

.a-sharp {
    left: 71%;
}

.input-select__container {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 35vh;
    margin-right: 2vw;
    box-sizing: border-box;
}

.slider {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    background: linear-gradient(to bottom, #333 0, #777 50%, #333);
    outline: none;
    opacity: .7;
    transition: opacity .2s;
    box-shadow: inset 3px 0 8px -2px #00000065, inset -3px 0 8px -2px #00000065;
    box-sizing: border-box;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4vw;
    height: 5vh;
    border-radius: 2px;
    cursor: grab;
    background: repeating-linear-gradient(to bottom,
            #000 2px, #777 4px);
    box-shadow:
        inset -1.5px 1.5px 1px #888,
        inset 2px -2px 1px #000,
        -2px 2px 4px #000;
    box-sizing: border-box;
}

.slider::-webkit-slider-thumb:active {
    cursor: grabbing;
}

.slider::-moz-range-thumb {
    width: 4vw;
    height: 5vh;
    border-radius: 2px;
    cursor: grab;
    background: repeating-linear-gradient(to bottom,
            #000 2px, #777 4px);
    box-shadow:
        inset -1.5px 1.5px 1px #888,
        inset 2px -2px 1px #000,
        -2px 2px 4px #000;
    box-sizing: border-box;
}

.slider::-moz-range-thumb:active {
    cursor: grabbing;
}

/* Ensure the thumb appears consistent in all states */
.slider:active::-webkit-slider-thumb {
    cursor: grabbing;
}

.slider:active::-moz-range-thumb {
    cursor: grabbing;
}

@media (hover: none),
(pointer: coarse) {
    .slider::-webkit-slider-thumb {
        width: 5vw;
    }

    .slider::-moz-range-thumb {
        width: 5vw;
    }
}

.temp-btn {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}



/*****************************************************
    Sound Select
*****************************************************/

.control-panel__sounds {
    display: flex;
    gap: 3px;
    border: 1px solid #bbb;
    /* border-top: 2px solid #bbb;
    border-right: 2px solid #ccc;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ccc; */
    border: none;
    /* padding: 3px; */
    border-radius: 9px;
    width: 24vw;
    height: 20vh;
}

.sounds-title {
    background-color: #eee;
    background: transparent;
    font-size: 12px;
    padding: 1px;
    margin-left: 6px;
}

.select-btn_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* gap: 2vh; */
    margin-right: 5px;
}

.select-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: 1px solid #666;
    border-radius: 50%;
    color: var(--brown);
    font-size: 14px;
    background: #333;
    background: radial-gradient(circle, #000 0%, #888 100%);
    background: linear-gradient(to right, #777,  #fff, #777);
    box-sizing: border-box;
    z-index: 1;
}

.select-btn:active {
    border: 2px solid #666;
    /* color: #ddd; */
    font-size: 13px;
}

.screen-bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: #111;
    border-top: 3px solid #bbb;
    border-right: 3px solid #ccc;
    border-bottom: 3px solid #eee;
    border-left: 4px solid #ccc;
    border-radius: 3px;
    padding: 0 2px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    /*  these are temporary sizes */
}

.sound-select_screen {
    appearance: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-image: linear-gradient(to right, #342c20 0%, #645b4d 50%, #342c20 100%);
    color: #00fff2a1;
    font-family: monospace;
    border: none;
    border-radius: 1.5px;
    box-sizing: border-box;
}

.sound-select_screen option:checked {
    background: #00fff2;
    color: #000;
}

/*****************************************************
    Sample Box
*****************************************************/

.sample-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3px;
    /* margin-right: 3px; */
}

.sample-btn {
    font-size: 11px;
}

.waveform-img {
    display: none;
    /* width: fit-content; */
    background-image: linear-gradient(to right, rgb(51, 51, 51) 0%, rgb(102, 102, 102) 50%, rgb(51, 51, 51) 100%);
    color: rgba(0, 255, 242, 0.631);
    font-family: monospace;
    border: none;
    border-radius: 1.5px;
    box-sizing: border-box;
}

.no-sample-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background-image: linear-gradient(to right, #333 0%, #666 50%, #333 100%);
    background-image: linear-gradient(to right, #342c20 0%, #645b4d 50%, #342c20 100%);
    color: #00fff2a1;
    font-family: monospace;
    font-size: 11px;
    border: none;
    border-radius: 1.5px;
    text-wrap: balance;
    box-sizing: border-box;
}

.waveform-display {
    width: 100%;
    display: none; 
  }

  .waveform-img {
    display: none;
    width: 100%;
    height: 95%; 
    /* object-fit: cover; */
  }

  .sample-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 5vh; */
    margin-right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #666;
    background-color: #222;
    background: linear-gradient(to right, #aaa, #ddd, #fff, #ddd, #aaa);
    color: var(--brown);
    /* text-transform: uppercase; */
    font-family: monospace;
    font-size: 10px;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 2px;
    box-sizing: border-box;
    width: 50px;
    /* height: 25px; */
}

.sample-btn:active {
    border: 2px solid #666;
    padding: 1px 4px;
    font-size: 9px;
}

.loop-icon {
    display: none;
    position: absolute;
    right: 12%;
    bottom: 1%;
    color: #fff;
    color: #00fff2a1;
    color: #de4045d9;
    font-size: 30px;
}   

.reverse-icon {
    display: none;
    position: absolute;
    right: 2%;
    bottom: 3%;
    color: #fff;
    color: #00fff2a1;
    color: #de4045d9;
    font-size: 25px;
}

.flip-image {
    transform: scaleX(-1);
} 